:root {
	--innerRed: rgba(203, 67, 53, 1.0);
	--outerRed: rgba(203, 67, 53, 0.75);

}

html,
body {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.outer-panel {
	background-color: var(--outerRed);
	width: 25%;
}

.inner-panel {
	background-color: var(--innerRed);
	width: 50%;
}

.inner-panel,
.outer-panel {
	height: 100%;
}

.within-panel {
	padding: 10px;
	margin: 10px;
}

.user-stats-wrap,
.global-leaderboard-wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
