<section class="within-panel">
    <h3>Your Stats!</h3>
    <div id="list-user-stats">
	<div class="user-stats-wrap">
	    <div class="user-stats-label">Cooking</div>
	    <div class="user-stats-value">0 min</div>
	</div>
	<div class="user-stats-wrap">
	    <div class="user-stats-label">Cooking</div>
	    <div class="user-stats-value">0 min</div>
	</div>
	<div class="user-stats-wrap">
	    <div class="user-stats-label">Cooking</div>
	    <div class="user-stats-value">0 min</div>
	</div>
	<div class="user-stats-wrap">
	    <div class="user-stats-label">Cooking</div>
	    <div class="user-stats-value">0 min</div>
	</div>
    </div>
</section>
